<li id='task-<%= task.id %>' class='list-group-item'>
  <%= task.description %>
  <span class='badge <%= important_css_class(task.important) %>'><%= display_important_label task.important %></span>
  <span class='badge <%= urgent_css_class(task.urgent) %>'><%= display_urgent_label task.urgent %></span>

  <%= task_action(task) %>
  <%= link_to 'x', task_path(task), remote: true, method: :delete, 'data-confirm' => 'Are you sure?', class: 'float-right' %>
</li>
