<h1>Tasks</h1>

<ul>
  <%= @tasks.each do |task| %>
    <li>
      <%= task.description %>
      <span><%= display_urgent_label task.urgent %></span>
      <span><%= display_important_label task.important %></span>

      <span><%= task_action(task) %></span>
    </li>
  <% end %>
</ul>
