<h1>New User</h1>

<%= form_for @user do |f| %>
  <ul>
    <% f.object.errors.each do |error, message| %>
      <li> <%= "#{error.to_s.titleize}: #{message}" %> </li>
    <% end %>
  </ul>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>

  <hr />
  <%= f.submit %>
<% end %>
